h2 {
  text-align: center;
}

button {
    background:none;
    border:none;
    margin:0;
    padding:10;
    cursor: pointer;
    cursor:hand;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

p.caption {
    color: gray;
}

a { color:black} /* Globally */

/* Each state */

a:visited { text-decoration: none; color:black; }
a:hover { text-decoration: none; color:gray; }
a:focus { text-decoration: none; color:gray; }
a:hover, a:active { text-decoration: none; color:gray}

a, u {
    text-decoration: none;
}

a
{
    padding: 10px;
    display:inline-block;
}

.container{
  width: 100%;
  text-align: center;
}

div.caption {
  position: relative;
  left: 40px;
}

div.topnav {
    position: relative;
    left: 30px;
    width: 300px;
}

div.spacer {
    height: 227px;
}

div.space2 {
    height: 18px;
}

div.space3 {
    height: 1px;
}


div.contact {
    position: relative;
    left: 30%;
    width: 300px;
}

p.contactinfo {
    color: gray;
    font-size: 20;
}


